body {
    margin: 0;
    padding-top: 800px;

}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#Welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient (#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: cursive;
    font-weight: 300;
}

#Name {
    font-size: 30px;
    line-height: 1.2;
    font-family:'Inconsolata', monospace;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: fantasy;
    font-weight: 300;
}

#Bio {
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

.Line {
    width: 70px;
    height: 60px;
    background-color: burlywood;
    margin: 8px auto;
}

p {
    margin: 20 auto;
    font-size: 20px;
    line-height: 1.3;
    max-width: 450px;
}

.menu {
    list-style: none;
    font-family: inherit;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: aquamarine;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: dodgerblue
}
